---
title: "A Prospective Analysis of Security Vulnerabilities within Link Traversal-Based Query Processing (Extended Version)"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'https://www.rubensworks.net/', 'https://www.rubensworks.net/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec,
            {firstname.lastname}@ugent.be

_This is an extended version of [an article with the same title published in the proceedings of the QuWeDa workshop at ISWC 2022](https://rubensworks.github.io/article-ldtraversal-security-short/). Next to more details in the related work and conclusions sections, this extension introduces concrete mitigations of each vulnerability._

</header>

<div id="content">
  <%= section 'abstract' %>

<div class="double-column">

<main>
  <%= section 'introduction' %>
  <%= section 'related-work' %>
  <%= section 'use-case' %>
  <%= section 'classification' %>
  <%= section 'vulnerabilities' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>

</div>
</div>
